extends layout

block content
  div(class="row")
    div(class="col-md-2")
      img(src= book.image width="200" height="300")
    div(class="col-md-10")
      h1= title
      p(class="author")= "Written by " + book.author

