extends layout

block content 
    h1 Book Review App
    p Welcome to Bookapp, a review website for books :)
    p.  
        Below is our currently list of books.
        If you cannot found your books, feel free to add yours ;)
    -
        list = ["Harry Potter", "Lord of The Ring", "The Hunger Games"]
    each item in list
        li= item
